━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
  お申込みいただきありがとうございます
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━



下記の内容をお問合せ頂きました。

精査した上で改めてご連絡いたします。
今しばらくお待ちください。


お申込み内容
------------------------------------------------------------
お問合せ表題     :<%info%>
返信用 E-mail   :<%email%>
お問い合わせ内容 :<%txt%>
------------------------------------------------------------
