/* index.css */
/* @media screen and (min-width: 768px) { */
  .head {
  -webkit-border-radius:6px 6px 0px 0px;
  -moz-border-radius:6px 6px 0px 0px;
  border-radius:6px 6px 0px 0px;
  background-color:#0572f7;
  color:#FAFAFA;
}
body {
  background-color: #f9f9f9;
  font-family: Arial, sans-serif;
}

h2 {
 
  text-align: center;
  margin-top: 50px;
}

#contact-form {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
}


input[type="text"],
button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: #fe300b;
  color: #fff;
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: 12px 24px;
  font-weight: bold;
  border-radius: 4px;
  background-color: #4caf50;
  box-shadow: 0px 2px 2px 1px #dcdcdc;
  border-bottom: solid 5px #4caf50;
  text-decoration: none;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  border-radius: 5px;
  cursor: pointer;
  min-width: 120px; /* ボタンの最小幅を指定 */
  transform: translateY(-3px);
  text-decoration: none;
  font-size:18px;
  /*background-color: #008000; ←元の背景色は不要なので削除*/
  border-radius:8px;
  text-align:center;
  padding:10px 20px;
  box-shadow:0 6px 0 0 #005400;
  transition:0.3s all;
}

button:hover {
  box-shadow:0 2px 0 0 #005400;
  transform: translateY(-2px);
}

.btn{
  width: 120px;
  margin-top: 10px;
  margin: auto;
}



